.container {
  background: lightcoral;
  width: 100%;
  padding: 3rem;
  margin-top: 1rem;
}

.container_image {
  width: 100%;
  height: 200px;
  object-fit: cover; /*Cover the whole space */
  /* object-fit: contain; Make the entire image visible */
  /* object-fit: none; Keep the image size */
  /* object-fit: scale-down; Its like max-width: 100%; max-height: 100%;, but it tooks the small of those 2 to max out */
  object-position: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
}

.header_section_left,
.header_section_right {
  width: 50%;
  height: 100vh;
}
.header_section_left_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.header_section_right {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #d2d8d6;
}
.header_section_right > h1 {
  margin-bottom: 1rem;
  text-shadow: 4px 4px 13px rgba(150, 150, 150, 0.62);
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }
  .header_section_left,
  .header_section_right {
    width: 100%;
    height: 50vh;
  }
  .header_section_left_img {
    object-position: center;
  }
}
